@model PiranaSecuritySystem.ViewModels.EditInstructorViewModel
@using System.Web.Mvc.Html

@{
    ViewBag.Title = "Edit Instructor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dashboard-container">
    <div class="row">
        <div class="col-md-12">
            <div class="dashboard-card">
                <div class="card-header-custom">
                    <div class="security-icon">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                    <h2 class="mb-0">Edit Instructor</h2>
                </div>
                <div class="card-body" style="padding: 30px;">
                    @using (Html.BeginForm("EditInstructor", "Admin", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FullName)
                                    @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FullName)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EmployeeId)
                                    @Html.TextBoxFor(model => model.EmployeeId, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email)
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PhoneNumber)
                                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Specialization)
                                    @Html.TextBoxFor(model => model.Specialization, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Specialization)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Site)
                                    @Html.DropDownListFor(model => model.Site, Model.SiteOptions, "Select Site", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Site)
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Group)
                                    @Html.DropDownListFor(model => model.Group, Model.GroupOptions, "Select Group", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Group)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-check mt-4">
                                        @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-check-input" })
                                        @Html.LabelFor(model => model.IsActive, new { @class = "form-check-label" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-custom">Update Instructor</button>
                            @Html.ActionLink("Cancel", "ManageInstructors", null, new { @class = "btn btn-secondary" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>