@model IEnumerable<PiranaSecuritSystem.Models.Shift>

@{
    ViewBag.Title = "Index";
}

<h2>Roster Display for Guards</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GuardId)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ShiftDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShiftType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GuardId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftType)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.ShiftID }) |

            </td>
        </tr>
    }

</table>
@Html.ActionLink("Delete All Shifts", "DeleteAllShifts", "Shifts", null, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you want to delete all shifts?');" })